@import "./resets";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

body {
  background-color: $primary-color;
  color: $text-color;
}

.main {
  @include flexCenter;
  width: 80%;
  margin: 0 auto;

  // & == the parent that is .main
  // .main_paragraph to &_paragraph
  // interpolation #{&}

  #{&}_paragraph {
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }
}

.light {
    @include theme($light-theme: false);
}