@import "./resets";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

@mixin mobile() {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
  background-color: $primary-color;
  color: $text-color;
}

.main {
  @include flexCenter;
  width: 80%;
  margin: 0 auto;

  // & == the parent that is .main
  // .main_paragraph to &_paragraph
  // interpolation #{&}

  #{&}_paragraph1 {
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }

  #{&}_paragraph2 {
    @extend.main_paragraph1;

    &:hover {
      color: $accent-color;
    }
  }

  @include mobile {
    flex-direction: column;
  }
}

.light {
  @include theme($light-theme: false);
}