$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

body {
  background-color: $primary-color;
  color: $text-color;
}

.main {
  width: 80%;
  margin: 0 auto;

  // & == the parent that is .main
  // .main_paragraph to &_paragraph
  // interpolation #{&}

  #{&}_paragraph {
    font-weight: map-get($font-weights, bold);

    &:hover {
      color: pink;
    }

  }
  
}
